<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "kz.airpay.app"
        versionCode = "10"
        version     = "1.2.0">

    <name>app.airpay.kz</name>

    <description>
        Ваш рейс задержали? Вы приехали в аэропорт и узнаете, что на Вашем рейсе овербукинг? Подайте заявку в приложении или на веб-сайте airpay и получите положенную Вам по закону компенсацию без никак проблем.
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/63b2468bbdb6b4e5cca364dd8ffb43c1.png" density="ldpi" />
        <icon src="res/android/icon/66315f3b643ef3801f944ee3197251a1.png" density="mdpi" />
        <icon src="res/android/icon/b3df5408cd3e729d80d27702ff2cd65b.png" density="hdpi" />
        <icon src="res/android/icon/b7ad50b614f710cf2fdabe407a8bd654.png" density="xhdpi" />
        <icon src="res/android/icon/14500f29ebc44730a8a846bb3d65e8ad.png" density="xxhdpi" />
        <icon src="res/android/icon/a2200ad87f27f517c7edb55017e9522a.png" density="xxxhdpi" />

        <splash src="res/android/screen/3913915dd1af2c9610d66252bf27ef14.png" density="port-hdpi"/>
        <splash src="res/android/screen/0624be854e6f7a6a21c7a134b6b92b76.png" density="port-ldpi"/>
        <splash src="res/android/screen/6813a314cebffc72ce3a416f68ddd6e9.png" density="port-mdpi"/>
        <splash src="res/android/screen/9a72cbeaf848e19697cb6479262f13c6.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/a0c963618455c04b2a22759f53253887.png" width="180" height="180" />
        <icon src="res/ios/icon/b969e411e3065974a9b199c546f9706c.png" width="60" height="60" />
        <icon src="res/ios/icon/3eca4f6059e94786ac2eb621eaff3c6f.png" width="120" height="120" />
        <icon src="res/ios/icon/9f0add588f4d71f8fbe37dc03c5eb297.png" width="76" height="76" />
        <icon src="res/ios/icon/2d3a59f60228716e4e9499ae29e359af.png" width="152" height="152" />
        <icon src="res/ios/icon/65bb3fc99c2c7378930585d6c3277ec8.png" width="57" height="57" />
        <icon src="res/ios/icon/e8dcd048b90f17f7e0b8eac9762a8686.png" width="114" height="114" />
        <icon src="res/ios/icon/753b03bacab5d86aa30bee0454b465f5.png" width="72" height="72" />
        <icon src="res/ios/icon/b4924e4666fc0fc354a83d79627a18ca.png" width="144" height="144" />
        <icon src="res/ios/icon/e3be126235f36a01d161f81fc26f77ac.png" width="167" height="167" />
        <icon src="res/ios/icon/748bcd940b086842ac3f1c923f59edf3.png" width="29" height="29" />
        <icon src="res/ios/icon/8ee9becbea9b135a1cdd10c184579c2a.png" width="58" height="58" />
        <icon src="res/ios/icon/6b0622156f8165452bb312f0a91a7a15.png" width="87" height="87" />
        <icon src="res/ios/icon/52ca2c0f3f7b77a0171f0c30f08bed14.png" width="167" height="167" />

        <splash src="res/ios/screen/d978e3bd48955c4aa7ba59795a3bc690.png" />
        <splash src="res/ios/screen/11019d9f3317df6fadaaa820cfea3fb4.png" />
        <splash src="res/ios/screen/93a111553de4773b90f169ff9cbc48d6.png" />
        <splash src="res/ios/screen/e37d414e278532703311031fa628a3f7.png" />
        <splash src="res/ios/screen/849e73d597e17b7d67890f03750a797b.png" />
        <splash src="res/ios/screen/804e3cf7d70399de18aa001fe0c19cba.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/492b891d3a2d13c6625358c8bd5031f9.png" target="StoreLogo" />
        <icon src="res/windows/icon/d1cf6b91d20a25b3168ccff825aa6f89.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/92a60586b7e1a5e2d924a01efa047907.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/110bf6d6880e906abb3d587dfa278ec7.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/a6cce715ee9daea91e11f0ab79135d13.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/f08f6f42c7b9581f8ed94a898b5c59c7.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/1126b350bda9a7c795db28c9579e1527.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/9d7644638d6447c6c17d111e32182e17.png" target="SplashScreen"/>
        <splash src="res/windows/screen/3635baa0f831c51184919076ab5fee14.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>